{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "airbnb", 
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    // note you must disable the base rule as it can report incorrect errors
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".ts"] }],
    "global-require": 0,
    "import/extensions": "off",
    "consistent-return": "off",
    "import/prefer-default-export": "off",
    "react-hooks/exhaustive-deps": "off",
    "no-console": "off"
  },
  // unable-to-resolve-path-to-module
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
